/* Default */
* { box-sizing: border-box}
html, body { font-family: "Lato", sans-serif; font-size: 16px; line-height: 1.3; color: #8c8c8e; background: white; margin: 0; padding: 0; height: 100%; position: relative; overflow: hidden; }
::-webkit-scrollbar { width: 8px; height: 8px; background: rgba(255, 255, 255, 0.5);}
::-webkit-scrollbar-thumb { background: rgba(0, 0, 0, 0.3);  }
@import url("https://fonts.googleapis.com/css?family=Artifika|Lato:400,400i,700,700i|PT+Mono");

/* Language Bar */
#main { display: flex; height: calc(100% - 20px); }

/* Language Bar */
#lanBar {background: #414339; width: 30px; display: flex; flex-direction: column; justify-content: center; font-size: 15px;}
#lanBar a { color: white; text-decoration: none; writing-mode: tb-rl; transform: rotate(-180deg); display: block; height: 50px; text-align: center; line-height: 1.8;}
#lanBar [active] { background: #333333; box-shadow: inset -3px 0 0 #76b9ed;}

/* Code Bar */
#codeBar { width: 100%; }

/* Tabs */
#tabs {height: 30px; color: #5f6368; border-bottom: 1px solid #cacdd1; background: #f1f3f4; font-size: 15px; padding-left: 50px;}
label.radio span:before { border-radius: 10px; }
label.radio, label.checkbox { cursor: pointer; width: 100px; height: 30px; background: none; display: inline-block; text-align: center;}
label.radio span, label.checkbox span { display: inline-block; width: inherit; line-height: 1.6;}
label.radio input:checked + span, label.checkbox input:checked + span {  height: inherit; color: #3c3c3c; border-top: 2px solid #1a73e8;}
label.radio input, label.checkbox input {display: none;}

/* Code Input */
#codeView {  display: flex; height: calc(100% - 30px);}
#codeIn {width: 50%; position: relative; overflow: hidden;}

/* Code Output */
#output { width: 100%; height: 100%; border: 0; outline: 0;}
#codeOut {width: 50%; padding: 5px; border-left: 1px solid #cacdd1;}

/* Status Bar */
#status {background: #2b579a; color: white; height: 20px; font-size: 15px; display: flex;}
select#themeSelect { background: inherit; color: inherit;}
select { appearance: none; padding: 0px 10px; border: none;}
#language { margin-left: auto; order: 2; margin-right: 20px;}
#runs { order: 3; margin-right: 20px; background-color: #19478a; font-size: 15px; font-weight: bold;}
#emmet { background-color: #19478a; }
#search { font-size: 14px; }
#preview {  order: 4; margin-right: 20px;}
button { border: 0; background: inherit; color: white; cursor: pointer; margin: 0 3px; line-height: 0.5;}

/* CodeMirror */
.CodeMirror {height: 100%;}
.emmet-abbreviation-preview { z-index: 10; }
.cm-s-monokai .CodeMirror-linenumber { color: gray;}
.CodeMirror-hints { margin: 0; padding:  0; min-width: 300px; box-shadow: none; background: #252526; font-size: 95%; font-family: monospace; max-height: 20em; overflow-y: hidden;  border: 1px solid #454545;}
.CodeMirror-hint { animation: fade 0.3s;  margin: 0; padding: 3px 10px 3px 40px; border-radius: 2px; white-space: pre; color: #f0f0f5; cursor: pointer;}
@keyframes fade { from {opacity: 0;} to {opacity: 1;} }
li.CodeMirror-hint:before { content: "☮";  margin-left: -40px; padding: 3px 8px 3px; color: #5a89b4; font-size: 18px; line-height: 0.5;}
li.CodeMirror-hint-active { background: #2b579a; color: white;}
li.CodeMirror-hint-active:before {  color: white;}
.CodeMirror-focused .cm-matchhighlight { text-decoration: underline;}
.CodeMirror-matchingtag {background: none; border-radius: 3px; border: none;}
.CodeMirror-focused .CodeMirror-matchingtag:nth-child(2) {border: 1px solid #0b0; text-decoration: none;}
.CodeMirror-focused .CodeMirror-matchingtag:nth-last-child(2) {border: 1px solid #0b0; text-decoration: none;}
span.CodeMirror-matchingbracket { border: 1px solid #0b0; text-decoration: none; border-radius: 3px;}
.CodeMirror-dialog-top {border-bottom: 0; top: auto; border-top: 1px solid #eee; bottom: 0;}
.CodeMirror-linenumber { margin-left: -10px;}
.cm-keyword {font-style: italic;}
.cm-searching { background: none; border: 1px solid #0b0; border-radius: 3px;}
.CodeMirror-lint-tooltip { background-color: #252526; border: 1px solid #454545; border-radius: 4px 4px 4px 4px; color: #ccccac; font-size: 12pt; padding: 5px 5px; }

.CodeMirror-lint-marker-error, .CodeMirror-lint-message-error {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAUBAMAAABGwLFlAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAABhQTFRFAAAA7khI7khI7khI7khI7khI7khI7khIPGYkKAAAAAh0Uk5TAFC//6CAQMByiVIKAAAAMElEQVR4nGNgwA+EjBUZGFiMjY0DGISBpBlDMZA0ZzAGASgJEYHIQlQyiBuXETAXACK+CUlLY4X1AAAAAElFTkSuQmCC")}
.CodeMirror-lint-marker-warning, .CodeMirror-lint-message-error {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAUBAMAAABGwLFlAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAABhQTFRFAAAA7khI7khI7khI7khI7khI7khI7khIPGYkKAAAAAh0Uk5TAFC//6CAQMByiVIKAAAAMElEQVR4nGNgwA+EjBUZGFiMjY0DGISBpBlDMZA0ZzAGASgJEYHIQlQyiBuXETAXACK+CUlLY4X1AAAAAElFTkSuQmCC")}
.CodeMirror-lint-marker-warning, .CodeMirror-lint-message-warning {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAUBAMAAABGwLFlAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAABhQTFRFAAAA2eRe2eRe2eRe2eRe2eRe2eRe2eReqKZ52AAAAAh0Uk5TAFC//6CAQMByiVIKAAAAMElEQVR4nGNgwA+EjBUZGFiMjY0DGISBpBlDMZA0ZzAGASgJEYHIQlQyiBuXETAXACK+CUlLY4X1AAAAAElFTkSuQmCC")}
.CodeMirror-lint-marker-multiple{ background-image: none; }

/* Console Log */
#log-container { overflow: auto; height: 150px; }
.log-warn { color: orange }
.log-error { color: red }
.log-info { color: skyblue }
.log-log { color: silver }
.log-warn, .log-error { font-weight: bold; }

